<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>

<!--/*@thymesVar id="user" type="ru.ntr.springbootapp.dto.UserDto"*/-->
<!--/*@thymesVar id="role" type="ru.ntr.springbootapp.model.Role"*/-->

<form method="post" th:action="@{/users}" th:object="${user}">
    <p>
        <label for="name">Name:</label><br>
        <input type="text" size="40" id="name" th:field="*{login}"/>
        <br>
        <label for="cost">Cost:</label><br>

        <input type="text" size="40" id="cost" th:field="*{roles}"/>
    </p>
    <p>
        <input type="submit" value="Add">
    </p>
</form>
</body>
</html>